.playlistCard {
  color: rgb(var(--body-color-dark));
  width: 300px;
  border-radius: 5px;
  box-shadow: none;
  display: grid;
  grid-template-areas: "overflow" "content";
}

.playlistCard_video {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  grid-area: overflow;
}

.playlistCard > *,
.playlistCard h3 {
  height: fit-content;
  padding: 0;
  margin: 0;
  text-align: left;
  line-height: 1.2rem;
}

.playlistCard h3 {
  padding: 10px;
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 600;
}

.playlistCard_button {
  grid-area: overflow;
  justify-self: center;
  align-self: center;
  font-size: 2rem;
  color: white;
  opacity: 0;
  transition: 200ms ease-in-out;
  z-index: 10;
}

.playlistCard_back {
  opacity: 0;
  transition: 200ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
  grid-area: overflow;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.playlistCard:hover .playlistCard_back,
.playlistCard:hover .playlistCard_button {
  opacity: 1;
}

.btn {
  padding: 4px 7px;
  background-color: black;
  color: white;
  border: 1px solid black;
  transition: 200ms ease;
}

.btn:hover {
  background-color: white;
  color: black;
}
