.videoCard {
  color: rgb(var(--body-color-dark));
  width: 230px;
  border-radius: 2px;
  box-shadow: none;
}

.videoCard video {
  border-radius: 2px;
}

.videoCard > *,
.videoCard h3 {
  height: fit-content;
  padding: 0;
  margin: 0;
  text-align: left;
  line-height: 1.2rem;
}

.videoCard h3 {
  padding: 0 10px;
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 600;
}

.videoCard p {
  padding: 0 10px;
  font-size: 14px;
  margin: 0;
  margin-bottom: 5px;
  width: 100%;
}
