.main {
  display: grid;
  grid-template-areas: "overflow";
  max-height: 75vh;
  overflow: hidden;
  z-index: 2;
}

.video,
.videoOverlay,
.gradient {
  grid-area: overflow;
}

.gradient {
  width: 100%;
  transition: ease 500ms;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(51, 51, 51, 0.2) 0%,
    rgba(255, 255, 255, 0) 50%,
    rgba(51, 51, 51, 0.2) 100%
  );
  z-index: 5;
}

.video {
  width: 100%;
  object-fit: cover;
}

.videoOverlay {
  z-index: 10;
  height: 100%;
  max-height: 75vh;
  justify-self: flex-start;
  padding: 2rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
  transition: ease 500ms;
  transform: translateX(-100%);
}

.videoOverlay > *,
.content > * {
  color: white;
  background-color: transparent;
}

.videoOverlay h2 {
  font-weight: 500;
  font-size: 2.4rem;
}

.videoOverlay button {
  font-size: 5rem;
  color: rgba(245, 245, 245, 0.8);
  padding: 0;
  margin-left: 1rem;
}

.main:hover .videoOverlay {
  transform: none;
}

.main:hover .gradient {
  background: linear-gradient(
    180deg,
    rgba(10, 10, 10, 0.5) 0%,
    rgba(255, 255, 255, 0) 50%,
    rgba(10, 10, 10, 0.5) 100%
  );
}
