.main {
  width: 100vw;
  display: grid;
  align-items: center;
  max-width: 100vw;
  position: relative;
}

.row {
  width: max-content;
  overflow: hidden;
  display: flex;
  gap: 1.4rem;
  align-items: center;
  height: max-content;
  transition: 400ms ease;
}

.left,
.right {
  z-index: 8;
  height: 100%;
  background-color: transparent;
  color: rgb(var(--body-color-dark));
  display: flex;
  align-items: flex-start;
  font-size: 1.5rem;
  position: absolute;
  top: 0px;
}

.left:disabled,
.right:disabled {
  display: none;
}

.left i,
.right i {
  margin-top: 3rem;
}

.left {
  left: 0px;
}

.right {
  right: 0px;
  margin-right: 2.2rem;
}

.component {
  width: 250px;
}
