.singleVideoContainer {
  flex-grow: 2;
  width: 100%;
  max-width: min-content;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_actions {
  display: flex;
  flex-grow: 2;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
}

.header_actions button {
  background-color: transparent;
  color: rgb(var(--title-color));
  font-size: 1.2rem;
  padding: 4px;
  transition: ease 200ms;
}

.header_actions button:hover {
  opacity: 0.85;
}

.header_actions button.likeBtn.active {
  color: rgb(var(--primary));
}
